:root {
    --Color-Green: #2A9D8F;
    --Color-Orange: #E76F51;
    --Color-Yellow: #F4A261;
    --Color-Black: #000000;
    --Color-Dark: #222222;
    --Color-Grey: #333;
    --Color-Soft-Grey: #7c7c7c;
    --Color-White-Dark: #EFEFEF;
    --Color-White: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1440px;
    margin: 0 auto;
    align-items: center;
}

/*NAVEGAÇÃO*/

nav {
    background-color: var(--Color-White);
    display: flex;
    padding: 15px 120px;
    justify-content: space-between;
    align-items: center;
    gap: 166px;
}

nav ul {
    list-style: none;
    display: inline-flex;
    padding: 15px 120px;
    align-items: center;
    gap: 166px;
}

nav li {
    color: var(--Color-Dark);
    font-size: 1.25;
    font-weight: 400;
}

.menu {
    display: flex;
    flex-wrap: wrap;
}

/*BOTÃO MENU/LOCAL E ICONES*/

.menu-button {
    background-color: var(--Color-Orange);
    width: 165px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 10px;
    box-shadow: 5px 5px 15px 0px var(--Color-Yellow);
    margin: 0px 96px 0px 131px;
    border-style: none;
    cursor: pointer;
}

.icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 488px;
    height: 119px;
    flex-shrink: 0;
    margin: 97px 112px 175px 120px;
}

.leaf, .rocket, .headset  {
    width: 50px;
    height: 50px;
}

/*LINHAS ICONES*/

.fast {
    display: flex;
}

.fast::before {
    background: var(--Color-Dark);
}

.fast::before {
    content: '';
    width: 2px;
    height: 80px;
    display: inline-block;
    margin-right: 50px; 
}

.fast::after {
    content: '';
    width: 2px;
    height: 80px;
    display: inline-block;
    margin-left: 50px; 
}

.fast::after {
    background: var(--Color-Dark);
}

.korean {
    margin: 3px 120px 0px 0px;
}

/*ESPECIALIDADES*/

.specialties {
    background: var(--Color-White-Dark);
    align-items: center;
}

.candy, .dinner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.yogurt, .vegan {
    width: 30%;
    margin: 133px 150px 0px 222px;
}

.granola {
    margin: 28px 211px 0px 0px;
}

.soup {
    margin: 227px 211px 0px 0px;
}

.order {
    background: var(--Color-Green);
    border-radius: 15px;
    width: 170px;
    height: 40px;
    flex-shrink: 0;
    border-style: none;
    cursor: pointer;
    color: var(--Color-White);
    font-size: 1.25em;
    font-weight: 400;
    margin: 25px 222px 261px 0px;
}

/*TESTEMUNHA*/

.witness {
    background: var(--Color-White);
    width: 1440px;
    height: 893px;
    flex-shrink: 0;
    display: flex;
    flex-wrap: wrap;
}

.witness .image {
    width: 1200px;
    height: 566px;
    flex-shrink: 0;
    margin: 0px 120px 102px 120px;
}

.quote {
    position: relative;
    top: -783px;
    left: 682px;
}

.witness .rating {
    width: 996px;
    color: var(--Color-White);
    font-size: 2.25em;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    position: relative;
    top: -651px;
    left: 16px;
}

.ellipse {
    color: var(--Color-White);
    width: 140px;
    height: 25px;
    flex-shrink: 0;
    position: relative;
    top: -623px;
    left: 450px;
}

/*FOOTER*/

footer {
    width: 100%;
    background: var(--Color-Grey);
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-info, .time, .direction {
    width: 50%;
    text-align: center;
}

.social {
    display: flex;
    justify-content: space-between;
    margin: 47px 0px 140px 120px;
}

.logo-instagram, .logo-whatsapp, .logo-facebook, .logo-twitter {
    color: var(--Color-White);
    font-size: 3.5em;
}

.call {
    color: var(--Color-White);
    font-size: 2.5em;
}

/*mapa*/
.location-outline {
    color: var(--Color-White);
    width: 36.173px;
    height: 35px;
    flex-shrink: 0;
}

.maps {
    width: 100%;
}

iframe {
    border-radius: 7px;
}