* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1440px;
    margin: 0 auto;
    align-items: center;
}

/*NAVEGAÇÃO*/

nav {
    background-color: #ffffff;
    display: flex;
    padding: 15px 120px;
    justify-content: space-between;
    align-items: center;
    gap: 166px;
}

nav ul {
    color: #000;
    font-size: 1.25;
    font-weight: 400;
}

.title {
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke-width: 1;
    -webkit-text-stroke-color: #000;
    font-size: 6em;
    font-weight: 400;
}

.menu {
    display: flex;
    flex-wrap: wrap;
}

/*SLOGAN - APRESENTAÇÃO*/

p {
    color: #000;
    font-size: 3em;
    font-weight: 300;
    margin: 177px 157px 126px 120px; 

}

.veggie {
    color: #2A9D8F;
    font-weight: 400;
}

.period {
    color: #000;
    font-weight: 400;
}

/*BOTÃO MENU/LOCAL E ICONES*/

.menu-button {
    background-color: #E76F51;
    color: white;
    font-size: 1.25em;
    font-weight: 400;
    width: 165px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 10px;
    box-shadow: 5px 5px 15px 0px #F4A261;
    margin: 0px 96px 0px 131px;
    border-style: none;
    cursor: pointer;
}

.location {
    color: #000;
    font-size: 1.25em;
    font-weight: 400;
}

.icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 488px;
    height: 119px;
    flex-shrink: 0;
    margin: 97px 112px 175px 120px;
}

.leaf, .rocket, .headset  {
    width: 50px;
    height: 50px;
}

.icons span {
    color: #000;
    font-size: 1.25em;
    font-weight: 400;
    margin-top: 15px;
}

/*LINHAS ICONES*/

.fast {
    display: flex;
}

.fast::before {
    background: rgb(0, 0, 0);
}

.fast::before {
    content: '';
    width: 2px;
    height: 80px;
    display: inline-block;
    margin-right: 50px; 
}

.fast::after {
    content: '';
    width: 2px;
    height: 80px;
    display: inline-block;
    margin-left: 50px; 
}

.fast::after {
    background: rgb(0, 0, 0);
}

.image {
    margin: 3px 120px 0px 0px;
}

/*ESPECIALIDADES*/

.specialties {
    background: #EFEFEF;
    width: 1440px;
    height: 1747px;
    flex-shrink: 0;
    display: flex;
    flex-wrap: wrap;
}

h2 {
    color: #000;
    font-size: 4em;
    font-weight: 400;
    margin: 47px 578px 7px 577px;
}

.title-specialties .subtitle {
    color: #E76F51;
    font-size: 1.5em;
    font-weight: 400;
    margin: 0px 667px 28px 662px;
}

.pastres span {
    color: #E76F51;
    font-size: 1.5;
    font-weight: 400;
    margin: 133px 467px 23px 222px;
}

.specialties h3 {
    width: 394px;
    color: #000;
    font-size: 2.625em;
    font-weight: 400;
    margin: 29px 150px 25px 222px;
}

.specialties p {
    color: #333;
    font-size: 1.125em;
    font-weight: 100;
    width: 372px;
    margin: 24px 172px 25px 222px;
}

.specialties .price {
    color: #000;
    font-size: 1.5em;
    font-weight: 300;
    margin: 25px 486px 112px 222px;
}

.order {
    background: #2A9D8F;
    border-radius: 15px;
    width: 170px;
    height: 40px;
    flex-shrink: 0;
    border-style: none;
    cursor: pointer;
    color: #FFF;
    font-size: 1.25em;
    font-weight: 400;
    margin: 25px 374px 261px 222px;
}

.granola {
    position: relative;
    top: -629px;
    left: 755px;
}

.vegan {
    position: relative;
    top: -1131px;
    left: 193px;
}

.almuerzo {
    position: relative;
    top: -337px;
    left: 671px;
}

.almuerzo span {
    color: #E76F51;
    font-size: 1.5em;
    font-weight: 400;
}

/*TESTEMUNHA*/

.witness {
    background: #FFF;
    width: 1440px;
    height: 893px;
    flex-shrink: 0;
    display: flex;
    flex-wrap: wrap;
}

.witness h2 {
    color: #333;
    font-size: 4em;
    font-weight: 400;
    margin: 18px 564px 18px 564px;
}

.testimonio .subtitle {
    color: #E76F51;
    font-size: 1.5em;
    font-weight: 400;
    margin: 85px 663px 0px 663px;
}

.witness .image {
    width: 1200px;
    height: 566px;
    flex-shrink: 0;
    margin: 0px 120px 102px 120px;
}

.quote {
    position: relative;
    top: -783px;
    left: 682px;
}

.witness .rating {
    width: 996px;
    color: #FFF;
    font-size: 2.25em;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    position: relative;
    top: -651px;
    left: 16px;
}

.witness span {
    color: #FFF;
    font-size: 1.5e,;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    top: -715px;
    left: 652px;
}

.ellipse {
    color: white;
    width: 140px;
    height: 25px;
    flex-shrink: 0;
    position: relative;
    top: -623px;
    left: 450px;
}

table {
    color: #FFF;
font-size: 1.125em;
font-weight: 300; 
line-height: -18px;
}

/*FOOTER*/

footer {
    display: flex;
    flex-wrap: wrap;
}

.footer {
    display: flex;
    width: 1440px;
    height: 616px;
    flex-shrink: 0;
    background: #333;
}

h4 {
    color: #FEFEFE;
    font-size: 6em;
    font-weight: 400;
    width: 167.428px;
    margin: 59px 0px 45px 120.1px;
}

.footer p {
    color: #FFF;
    font-size: 1.125em;
    font-weight: 300;
    width: 384.464px;
    margin: 0px 0px 45px 118.3px;
}

.date {
    color: #FFF;
    font-size: 1.125em;
    font-weight: 300;
    width: 107.484px;
    margin: 0px 0px 47px 118px;
}

.social {
    display: flex;
    justify-content: space-around;
    margin: 47px 0px 140px 120px;
}

.logo-instagram, .logo-whatsapp, .logo-facebook, .logo-twitter {
    color: white;
    font-size: 3.5;
}


.dev {
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.90);
    font-size: 1.125em;
    font-weight: 300;
}